/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text:wght@500&display=swap');
/*
font-family: 'STIX Two Text', serif;
*/

/* basic reset - asterix applies to all the page */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
    background-color: #fff;
}

/* grid */
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 150px;
    max-width: 960px;
    margin: 50px auto 30px;
}

  article, .wildCat {
    position: relative;
  }
  
  .img {
    height: 200px;
    width: 100%;
    object-fit: cover;
  }
  
  .container-content {
    background-color: rgba(19, 14, 14, 0.5);
    position: relative;
  }

  .desc {
      background-color: rgba(19, 14, 14, 0.5); 
      color: black;
      position: absolute;
  }

  .title {
    font-family: 'STIX Two Text', serif;  
    position: absolute;
    bottom: 4px;
    width: 100%;
    padding: 10px;
    font-size: 1.5rem;
    color: #fff;
    background-color: rgba(19, 14, 14, 0.5);
  }


  

