/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text:wght@500&display=swap');
/*
font-family: 'STIX Two Text', serif;
*/

/* basic reset - asterix applies to all the page */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
    background-color: aqua;
}

/* grid */
main {
  display: grid;
  /* 12 * 60 = 720 */
  grid-template-columns: 1fr repeat(12, minmax(auto, 60px)) 1fr;
  /* 40 * 11 + 720 = 1160 */
  /* our content will never be bigger than 1160 */
  grid-gap: 40px;
  padding: 60px 0;
}

.desc {
    font-family: 'STIX Two Text', serif;
    font-weight: 1rem;
    line-height: 20px;
    color: blue;
}

.cards {
    grid-column: 2 / span 12;
    display: grid;
    grid-template-columns: 1fr repeat(12, minmax(auto, 60px));
    grid-gap: 40px;
}

.card {
    grid-column-end: span 4;
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    cursor: pointer;
}

