/* basic page reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box1 {
    background: brown;
}

.box2 {
    background: chartreuse;
}

.box3 {
    background: cornflowerblue;
}

main {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}



